<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table align="center">
    <h2 align="center">Create Role</h2>
     <tr>
                    <td align="center">
                        <button ><a href="/employee/">Employee</a></button>
                    </td>
     </tr>
     <tr>

                    <td align="center">
                        <button ><a href="/manager/">Manager</a></button>
                    </td>
     </tr>
     <tr>

                    <td align="center">
                        <button ><a href="/admin/">Admin</a></button>
                    </td>
     </tr>
</table>


</body>
</html>